@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
    color: #334155;
    line-height: 24px; 
}

/*División a la mitad */
.maingeneral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: auto;

}


.left {
    padding: 64px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f9fb;
}

.textmini{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px; 
    color: #0B513D;
}

.tituloleft {
    font-family: 'Manrope', sans-serif;
    font-size: 56px; 
    font-weight: 800;
    line-height: 64px; 
    color: #064E3B; 
    margin-bottom: 32px; 
}

.tituloleft span {
    color: #707974;
    
}

.descrleft {
    font-size: 16px; 
    color: #707974;
    margin-bottom: 48px; 
}

.info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.textinfo h3 {
    font-family: 'Manrope', sans-serif;
    color: #064E3B; 
    margin-bottom: 8px; 
    font-size: 20px;
}

.descinfo {
    font-size: 16px; 
    color: #64748b;
}

.imagen {
    margin-top: 48px;
    border-radius: 16px; 
    overflow: hidden;
    height: 300px; 
    position: relative;
}

.imagencompu {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.right {
    background-color: #f1f3f5; 
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 56px;
    border-radius: 32px;
}

.contentright {
    width: 100%;
    max-width: 560px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.seccion{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 8px;
}

.firstsection label, .secondsection label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #334155;
}
.seccionchekbox label{
    font-size: 12px;
    font-weight: 700;
    color: #334155;
}

.campo{
    width: 100%;
    margin-right: 16px;
    flex-direction: column;

}

.firstsection, .secondsection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 20px;
}



.firstsection input{
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 16px;
    height: 52px; 
    background-color: #ffffff;
    font-size: 12px;
    
}


input::placeholder {
    color: #94a3b8;          
    font-size: 16px;         
    font-weight: 400;        
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%; 
}

input[type="date"]{
    color: black;
    font-size: 16px;         
    font-weight: 400;        
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%; 
    font-family: 'Inter', sans-serif;

}

.secondsection input{
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 16px;
    height: 52px; 
    background-color: #ffffff;
    font-size: 12px;
}
select{
    background-color: #ffffff;
    border-radius: 8px;
    border: none;
    height: 52px;
    width: 100%;
    padding: 12px;

}
select:invalid,
select:has(option[value=""]:checked) {
    color: #000000;
    padding: 12px;
    font-family: 'Inter', sans-serif;

}
.checkboxright, .checkboxleft{
    display: flex;
    flex-direction: column;
    width: 214px;

}

.optionscheckbox{
    display: flex;
    gap: 20px;

}

.optionscheckbox label{
    background-color: white;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}
.optionscheckbox input{
    margin-right: 4px;
}
